<div class="banner1">
    <svg class="banner-svg1" width="88" height="76" viewBox="0 0 88 76" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M5.66552 2.79905C5.66552 4.34507 4.39774 5.59937 2.83345 5.59937C1.26916 5.59937 0 4.34507 0 2.79905C0 1.25304 1.26916 3.57628e-05 2.83345 3.57628e-05C4.39774 3.57628e-05 5.66552 1.25304 5.66552 2.79905Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M33.1103 2.79905C33.1103 4.34507 31.8426 5.59937 30.2783 5.59937C28.714 5.59937 27.4448 4.34507 27.4448 2.79905C27.4448 1.25304 28.714 3.57628e-05 30.2783 3.57628e-05C31.8426 3.57628e-05 33.1103 1.25304 33.1103 2.79905Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M60.5549 2.79905C60.5549 4.34507 59.2871 5.59937 57.7228 5.59937C56.1585 5.59937 54.8894 4.34507 54.8894 2.79905C54.8894 1.25304 56.1585 3.57628e-05 57.7228 3.57628e-05C59.2871 3.57628e-05 60.5549 1.25304 60.5549 2.79905Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M88 2.79905C88 4.34507 86.7322 5.59937 85.1679 5.59937C83.6036 5.59937 82.3345 4.34507 82.3345 2.79905C82.3345 1.25304 83.6036 3.57628e-05 85.1679 3.57628e-05C86.7322 3.57628e-05 88 1.25304 88 2.79905Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M33.1103 26.2666C33.1103 27.8126 31.8426 29.0656 30.2783 29.0656C28.714 29.0656 27.4448 27.8126 27.4448 26.2666C27.4448 24.7206 28.714 23.4675 30.2783 23.4675C31.8426 23.4675 33.1103 24.7206 33.1103 26.2666Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M60.5549 26.2666C60.5549 27.8126 59.2871 29.0656 57.7228 29.0656C56.1585 29.0656 54.8894 27.8126 54.8894 26.2666C54.8894 24.7206 56.1585 23.4675 57.7228 23.4675C59.2871 23.4675 60.5549 24.7206 60.5549 26.2666Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M88 26.2666C88 27.8126 86.7322 29.0656 85.1679 29.0656C83.6036 29.0656 82.3345 27.8126 82.3345 26.2666C82.3345 24.7206 83.6036 23.4675 85.1679 23.4675C86.7322 23.4675 88 24.7206 88 26.2666Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M60.5549 49.7338C60.5549 51.2798 59.2871 52.5328 57.7228 52.5328C56.1585 52.5328 54.8894 51.2798 54.8894 49.7338C54.8894 48.1878 56.1585 46.9348 57.7228 46.9348C59.2871 46.9348 60.5549 48.1878 60.5549 49.7338Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M88 49.7338C88 51.2798 86.7322 52.5328 85.1679 52.5328C83.6036 52.5328 82.3345 51.2798 82.3345 49.7338C82.3345 48.1878 83.6036 46.9348 85.1679 46.9348C86.7322 46.9348 88 48.1878 88 49.7338Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M88 73.201C88 74.747 86.7322 76 85.1679 76C83.6036 76 82.3345 74.747 82.3345 73.201C82.3345 71.655 83.6036 70.4007 85.1679 70.4007C86.7322 70.4007 88 71.655 88 73.201Z"
            fill="white" fill-opacity="0.32" />
    </svg>
    <svg class="banner-svg2" width="56" height="136" viewBox="0 0 56 136" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_2039_918" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="29"
            height="136">
            <path d="M0 136V3.05176e-05H28.0516V136H0Z" fill="white" />
        </mask>
        <g mask="url(#mask0_2039_918)">
            <path d="M39.195 40.3573L-2.17098 -4.4732L-5.89575 -0.887276L35.4702 43.9431" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M39.195 62.7719L-2.17098 17.9413L-5.89575 21.5272L35.4702 66.3577" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M39.195 85.1866L-2.17098 40.3563L-5.89575 43.9422L35.4702 88.7729" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M39.195 107.603L-2.17098 62.7723L-5.89575 66.3581L35.4702 111.188" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M39.195 130.018L-2.17098 85.1875L-5.89575 88.7737L35.4702 133.604" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M39.195 152.432L-2.17098 107.602L-5.89575 111.188L35.4702 156.018" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M39.195 174.849L-2.17098 130.018L-5.89575 133.604L35.4702 178.434" fill="#FBF5F6"
                fill-opacity="0.32" />
        </g>
        <mask id="mask1_2039_918" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="27" y="0" width="30"
            height="136">
            <path d="M27.9485 136V0.316071H56.0001V136H27.9485Z" fill="white" />
        </mask>
        <g mask="url(#mask1_2039_918)">
            <path d="M20.4912 44.2272L61.8572 -0.6031L58.1324 -4.18904L16.7668 40.6413" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M20.4912 66.6423L61.8572 21.8119L58.1324 18.226L16.7668 63.0564" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M20.4912 89.0574L61.8572 44.2266L58.1324 40.6408L16.7668 85.4716" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M20.4912 111.473L61.8572 66.6422L58.1324 63.0563L16.7668 107.887" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M20.4912 133.888L61.8572 89.0578L58.1324 85.472L16.7668 130.302" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M20.4912 156.303L61.8572 111.472L58.1324 107.886L16.7668 152.717" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M20.4912 178.719L61.8572 133.889L58.1324 130.303L16.7668 175.133" fill="#FBF5F6"
                fill-opacity="0.32" />
        </g>
    </svg>

    <img src="{{component.banner1_image}}" />
    <div class="inf-banner-right">
        <p class="banner1-title">{{component.banner1_title}}</p>
        <p class="banner1-desc">{{component.banner1_description}}</p>
        <a href="/products" style="display: block; position: relative; text-decoration: none;">
            <svg class="inf-banner-right-svg" width="300" height="65" viewBox="0 0 328 72" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M328 1.34982H11.0115L25.7768 35.9998L11.0115 70.6499H328L313.235 35.9998L328 1.34982Z"
                    fill="#E3AF64" />
                <path
                    d="M318.085 1.34998V0H1.0959C0.710461 0 0.356753 0.245445 0.157681 0.650177C-0.0413914 1.0549 -0.0519597 1.55888 0.125935 1.97666L14.6243 36L0.125935 70.0208C-0.0519597 70.4412 -0.0413914 70.9425 0.157681 71.3472C0.356753 71.7519 0.710461 72 1.0959 72H318.085C318.47 72 318.824 71.7519 319.023 71.3472C319.222 70.9425 319.232 70.4412 319.055 70.0208L304.556 36L319.055 1.97666C319.232 1.55888 319.222 1.0549 319.023 0.650177C318.824 0.245445 318.47 0 318.085 0V1.34998L317.117 0.72068L302.349 35.3733C302.182 35.765 302.182 36.2376 302.349 36.6293L316.274 69.3001H2.90662L16.8311 36.6293C16.9984 36.2376 16.9984 35.765 16.8311 35.3733L2.90662 2.69993H318.085V1.34998Z"
                    fill="white" />
            </svg>
            <p style="text-align: center;
        font-size: 23px;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-60%, -50%);
        white-space: nowrap;
        color: #000; /* إضافة لون للنص */
        pointer-events: none; /* لمنع مشاكل النقر */
        ">
                {{ trans('pages.heroSection.start_shopping') }}
            </p>
        </a>
    </div>
</div>

<style>
    .banner1 {
        height: 500px;
        background: radial-gradient(50.7% 118.08% at 17.05% 33.2%, #B79167 0%, #A47A50 32.55%, #916339 100%);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        position: relative;
        padding: 0px 50px;
        margin-top: 80px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.8s ease-out;
    }

    .banner1.show {
        opacity: 1;
        transform: translateY(0);
    }

    .banner1-title {
        font-size: 26px;
        font-weight: 700;
        color: white;
    }

    .banner1-desc {
        font-size: 16px;
        color: white;
        margin-top: 30px;
    }

    .banner1 img {
        margin-left: 50px;
    }

    .banner-svg1 {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .banner-svg2 {
        position: absolute;
        bottom: 0px;
        left: 40px;
    }

    .inf-banner-right {
        width: 50%;
    }

    .inf-banner-right-svg {
        margin-top: 60px;
    }

    @media screen and (max-width: 922px) {
        .inf-banner-right {
            width: 60%;
        }

        .banner1 img {
            margin-left: 20px;
            width: 50%;
        }

        .banner-svg2 {
            left: 10px;
        }

        .banner1 {
            height: auto;
        }

        .banner1-title {
            font-size: 20px;
            margin-top: 20px;
        }

        .banner1-desc {
            font-size: 14px;
            margin-top: 10px;
        }

        .inf-banner-right-svg {
            margin-top: 20px;
        }
    }

    @media screen and (max-width: 725px) {
        .banner1 {
            flex-direction: column-reverse;
            padding: 80px 0px 0px 0px;
        }

        .inf-banner-right {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .banner1 img {
            margin-left: 0px;
            width: 70%;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const banners = document.querySelectorAll('.banner1');

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('show');
                    observer.unobserve(entry.target); // لو بدك يظهر مرة وحدة فقط
                }
            });
        }, { threshold: 0.2 }); // يظهر لما 20% من العنصر داخل الشاشة

        banners.forEach(banner => observer.observe(banner));
    });
</script>