<div class="banner1">
    <svg class="banner-svg1" width="88" height="76" viewBox="0 0 88 76" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M5.66552 2.79905C5.66552 4.34507 4.39774 5.59937 2.83345 5.59937C1.26916 5.59937 0 4.34507 0 2.79905C0 1.25304 1.26916 3.57628e-05 2.83345 3.57628e-05C4.39774 3.57628e-05 5.66552 1.25304 5.66552 2.79905Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M33.1103 2.79905C33.1103 4.34507 31.8426 5.59937 30.2783 5.59937C28.714 5.59937 27.4448 4.34507 27.4448 2.79905C27.4448 1.25304 28.714 3.57628e-05 30.2783 3.57628e-05C31.8426 3.57628e-05 33.1103 1.25304 33.1103 2.79905Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M60.5549 2.79905C60.5549 4.34507 59.2871 5.59937 57.7228 5.59937C56.1585 5.59937 54.8894 4.34507 54.8894 2.79905C54.8894 1.25304 56.1585 3.57628e-05 57.7228 3.57628e-05C59.2871 3.57628e-05 60.5549 1.25304 60.5549 2.79905Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M88 2.79905C88 4.34507 86.7322 5.59937 85.1679 5.59937C83.6036 5.59937 82.3345 4.34507 82.3345 2.79905C82.3345 1.25304 83.6036 3.57628e-05 85.1679 3.57628e-05C86.7322 3.57628e-05 88 1.25304 88 2.79905Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M33.1103 26.2666C33.1103 27.8126 31.8426 29.0656 30.2783 29.0656C28.714 29.0656 27.4448 27.8126 27.4448 26.2666C27.4448 24.7206 28.714 23.4675 30.2783 23.4675C31.8426 23.4675 33.1103 24.7206 33.1103 26.2666Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M60.5549 26.2666C60.5549 27.8126 59.2871 29.0656 57.7228 29.0656C56.1585 29.0656 54.8894 27.8126 54.8894 26.2666C54.8894 24.7206 56.1585 23.4675 57.7228 23.4675C59.2871 23.4675 60.5549 24.7206 60.5549 26.2666Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M88 26.2666C88 27.8126 86.7322 29.0656 85.1679 29.0656C83.6036 29.0656 82.3345 27.8126 82.3345 26.2666C82.3345 24.7206 83.6036 23.4675 85.1679 23.4675C86.7322 23.4675 88 24.7206 88 26.2666Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M60.5549 49.7338C60.5549 51.2798 59.2871 52.5328 57.7228 52.5328C56.1585 52.5328 54.8894 51.2798 54.8894 49.7338C54.8894 48.1878 56.1585 46.9348 57.7228 46.9348C59.2871 46.9348 60.5549 48.1878 60.5549 49.7338Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M88 49.7338C88 51.2798 86.7322 52.5328 85.1679 52.5328C83.6036 52.5328 82.3345 51.2798 82.3345 49.7338C82.3345 48.1878 83.6036 46.9348 85.1679 46.9348C86.7322 46.9348 88 48.1878 88 49.7338Z"
            fill="white" fill-opacity="0.32" />
        <path
            d="M88 73.201C88 74.747 86.7322 76 85.1679 76C83.6036 76 82.3345 74.747 82.3345 73.201C82.3345 71.655 83.6036 70.4007 85.1679 70.4007C86.7322 70.4007 88 71.655 88 73.201Z"
            fill="white" fill-opacity="0.32" />
    </svg>
    <svg class="banner-svg2" width="56" height="136" viewBox="0 0 56 136" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_2039_918" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="29"
            height="136">
            <path d="M0 136V3.05176e-05H28.0516V136H0Z" fill="white" />
        </mask>
        <g mask="url(#mask0_2039_918)">
            <path d="M39.195 40.3573L-2.17098 -4.4732L-5.89575 -0.887276L35.4702 43.9431" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M39.195 62.7719L-2.17098 17.9413L-5.89575 21.5272L35.4702 66.3577" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M39.195 85.1866L-2.17098 40.3563L-5.89575 43.9422L35.4702 88.7729" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M39.195 107.603L-2.17098 62.7723L-5.89575 66.3581L35.4702 111.188" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M39.195 130.018L-2.17098 85.1875L-5.89575 88.7737L35.4702 133.604" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M39.195 152.432L-2.17098 107.602L-5.89575 111.188L35.4702 156.018" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M39.195 174.849L-2.17098 130.018L-5.89575 133.604L35.4702 178.434" fill="#FBF5F6"
                fill-opacity="0.32" />
        </g>
        <mask id="mask1_2039_918" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="27" y="0" width="30"
            height="136">
            <path d="M27.9485 136V0.316071H56.0001V136H27.9485Z" fill="white" />
        </mask>
        <g mask="url(#mask1_2039_918)">
            <path d="M20.4912 44.2272L61.8572 -0.6031L58.1324 -4.18904L16.7668 40.6413" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M20.4912 66.6423L61.8572 21.8119L58.1324 18.226L16.7668 63.0564" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M20.4912 89.0574L61.8572 44.2266L58.1324 40.6408L16.7668 85.4716" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M20.4912 111.473L61.8572 66.6422L58.1324 63.0563L16.7668 107.887" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M20.4912 133.888L61.8572 89.0578L58.1324 85.472L16.7668 130.302" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M20.4912 156.303L61.8572 111.472L58.1324 107.886L16.7668 152.717" fill="#FBF5F6"
                fill-opacity="0.32" />
            <path d="M20.4912 178.719L61.8572 133.889L58.1324 130.303L16.7668 175.133" fill="#FBF5F6"
                fill-opacity="0.32" />
        </g>
    </svg>

    <img src="{{component.banner1_image}}" />
    <div class="inf-banner-right">
        <p class="banner1-title">{{component.banner1_title}}</p>
        <p class="banner1-desc">{{component.banner1_description}}</p>
        <svg class="inf-banner-right-svg" width="300" height="65" viewBox="0 0 328 72" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M328 1.34982H11.0115L25.7768 35.9998L11.0115 70.6499H328L313.235 35.9998L328 1.34982Z"
                fill="#E3AF64" />
            <path
                d="M318.085 1.34998V0H1.0959C0.710461 0 0.356753 0.245445 0.157681 0.650177C-0.0413914 1.0549 -0.0519597 1.55888 0.125935 1.97666L14.6243 36L0.125935 70.0208C-0.0519597 70.4412 -0.0413914 70.9425 0.157681 71.3472C0.356753 71.7519 0.710461 72 1.0959 72H318.085C318.47 72 318.824 71.7519 319.023 71.3472C319.222 70.9425 319.232 70.4412 319.055 70.0208L304.556 36L319.055 1.97666C319.232 1.55888 319.222 1.0549 319.023 0.650177C318.824 0.245445 318.47 0 318.085 0V1.34998L317.117 0.72068L302.349 35.3733C302.182 35.765 302.182 36.2376 302.349 36.6293L316.274 69.3001H2.90662L16.8311 36.6293C16.9984 36.2376 16.9984 35.765 16.8311 35.3733L2.90662 2.69993H318.085V1.34998Z"
                fill="white" />
            <path
                d="M82.1518 35.064C81.9918 35.064 81.9118 34.984 81.9118 34.824V32.472C81.9118 32.312 81.9918 32.232 82.1518 32.232H85.1278C85.2878 32.232 85.3678 32.312 85.3678 32.472V34.824C85.3678 34.984 85.2878 35.064 85.1278 35.064H82.1518ZM78.3358 39.672C78.3998 39.576 78.5198 39.552 78.6958 39.6L81.2878 40.44C81.3678 40.472 81.4078 40.52 81.4078 40.584C81.4238 40.632 81.4158 40.688 81.3838 40.752C81.1598 41.2 80.9518 41.704 80.7598 42.264C80.5678 42.824 80.4718 43.456 80.4718 44.16C80.4718 44.72 80.5518 45.192 80.7118 45.576C80.8718 45.96 81.0798 46.272 81.3358 46.512C81.6078 46.752 81.9038 46.92 82.2238 47.016C82.5598 47.128 82.8958 47.184 83.2318 47.184C84.0478 47.184 84.6878 46.952 85.1518 46.488C85.6158 46.024 85.8478 45.304 85.8478 44.328V37.128C85.8478 36.968 85.9278 36.888 86.0878 36.888H88.9918C89.1518 36.888 89.2318 36.968 89.2318 37.128V44.472C89.2318 45.48 89.0718 46.336 88.7518 47.04C88.4478 47.76 88.0238 48.344 87.4798 48.792C86.9358 49.256 86.2878 49.592 85.5358 49.8C84.7998 50.024 84.0078 50.136 83.1598 50.136C82.3278 50.136 81.5358 50.024 80.7838 49.8C80.0478 49.592 79.3998 49.256 78.8398 48.792C78.2798 48.344 77.8318 47.752 77.4958 47.016C77.1758 46.296 77.0158 45.432 77.0158 44.424C77.0158 43.624 77.1278 42.8 77.3518 41.952C77.5918 41.104 77.9198 40.344 78.3358 39.672ZM92.5528 29.736C92.7128 29.096 92.9688 28.616 93.3208 28.296C93.6888 27.976 94.1288 27.816 94.6408 27.816C95.0088 27.816 95.3848 27.888 95.7688 28.032C96.1528 28.16 96.5368 28.304 96.9208 28.464C97.3048 28.624 97.6728 28.776 98.0248 28.92C98.3928 29.048 98.7448 29.112 99.0808 29.112C99.3208 29.112 99.4808 29.056 99.5608 28.944C99.6568 28.816 99.7048 28.6 99.7048 28.296C99.7048 28.136 99.7848 28.056 99.9448 28.056H101.217C101.377 28.056 101.457 28.136 101.457 28.296C101.457 29.064 101.297 29.68 100.977 30.144C100.657 30.592 100.137 30.816 99.4168 30.816C98.9688 30.816 98.5368 30.752 98.1208 30.624C97.7048 30.496 97.3128 30.36 96.9448 30.216C96.5928 30.072 96.2568 29.936 95.9368 29.808C95.6168 29.68 95.3288 29.616 95.0728 29.616C94.9128 29.616 94.7608 29.664 94.6168 29.76C94.4888 29.84 94.3768 30.016 94.2808 30.288C94.2328 30.448 94.1288 30.504 93.9688 30.456L92.7208 30.048C92.5608 30 92.5048 29.896 92.5528 29.736ZM98.8168 42.096H101.001C101.401 42.096 101.689 42.008 101.865 41.832C102.057 41.64 102.153 41.304 102.153 40.824V28.92C102.153 28.76 102.233 28.68 102.393 28.68H105.321C105.481 28.68 105.561 28.76 105.561 28.92V41.976C105.561 43.016 105.345 43.784 104.913 44.28C104.481 44.76 103.761 45 102.753 45H91.5928C91.4328 45 91.3528 44.92 91.3528 44.76V42.336C91.3528 42.176 91.4328 42.096 91.5928 42.096H95.4088V32.304C95.4088 32.144 95.4888 32.064 95.6488 32.064H98.5768C98.7368 32.064 98.8168 32.144 98.8168 32.304V42.096ZM111.816 44.76C111.816 44.92 111.736 45 111.576 45H108.672C108.512 45 108.432 44.92 108.432 44.76V28.92C108.432 28.76 108.512 28.68 108.672 28.68H111.576C111.736 28.68 111.816 28.76 111.816 28.92V44.76ZM137.402 46.248C137.402 47.4 136.994 48.296 136.178 48.936C135.378 49.592 134.098 49.92 132.338 49.92H126.266C125.13 49.92 124.146 49.792 123.314 49.536C122.498 49.28 121.818 48.912 121.274 48.432C120.746 47.968 120.354 47.4 120.098 46.728C119.842 46.056 119.714 45.304 119.714 44.472C119.714 43.576 119.866 42.704 120.17 41.856C120.49 40.992 120.85 40.256 121.25 39.648C121.33 39.504 121.45 39.48 121.61 39.576L124.058 40.8C124.186 40.88 124.21 40.984 124.13 41.112C123.858 41.56 123.626 42.048 123.434 42.576C123.242 43.104 123.146 43.632 123.146 44.16C123.146 44.72 123.25 45.184 123.458 45.552C123.682 45.92 123.962 46.208 124.298 46.416C124.634 46.624 125.01 46.768 125.426 46.848C125.858 46.928 126.282 46.968 126.698 46.968H131.69C132.17 46.968 132.57 46.936 132.89 46.872C133.21 46.824 133.458 46.752 133.634 46.656C133.81 46.56 133.93 46.432 133.994 46.272C134.074 46.128 134.114 45.96 134.114 45.768V45H131.786C130.218 45 129.01 44.616 128.162 43.848C127.33 43.064 126.914 41.76 126.914 39.936C126.914 38.912 127.058 38.056 127.346 37.368C127.634 36.664 128.018 36.104 128.498 35.688C128.994 35.256 129.554 34.952 130.178 34.776C130.802 34.584 131.45 34.488 132.122 34.488C132.842 34.488 133.522 34.576 134.162 34.752C134.802 34.928 135.362 35.224 135.842 35.64C136.322 36.056 136.698 36.608 136.97 37.296C137.258 37.984 137.402 38.84 137.402 39.864V46.248ZM132.146 37.392C131.506 37.392 131.018 37.608 130.682 38.04C130.362 38.472 130.202 39.072 130.202 39.84C130.202 40.72 130.386 41.32 130.754 41.64C131.122 41.944 131.61 42.096 132.218 42.096H134.066V39.792C134.066 38.192 133.426 37.392 132.146 37.392ZM129.074 32.472C128.914 32.472 128.834 32.392 128.834 32.232V29.88C128.834 29.72 128.914 29.64 129.074 29.64H131.474C131.634 29.64 131.714 29.72 131.714 29.88V32.232C131.714 32.392 131.634 32.472 131.474 32.472H129.074ZM132.77 32.472C132.61 32.472 132.53 32.392 132.53 32.232V29.88C132.53 29.72 132.61 29.64 132.77 29.64H135.194C135.354 29.64 135.434 29.72 135.434 29.88V32.232C135.434 32.392 135.354 32.472 135.194 32.472H132.77ZM142.133 49.92C141.973 49.92 141.893 49.84 141.893 49.68V47.256C141.893 47.096 141.973 47.016 142.133 47.016H144.893C145.229 47.016 145.525 46.984 145.781 46.92C146.053 46.872 146.277 46.776 146.453 46.632C146.629 46.488 146.765 46.28 146.861 46.008C146.957 45.752 147.005 45.416 147.005 45H144.701C143.133 45 141.925 44.624 141.077 43.872C140.245 43.12 139.829 41.832 139.829 40.008C139.829 38.984 139.973 38.12 140.261 37.416C140.565 36.712 140.957 36.144 141.437 35.712C141.933 35.28 142.493 34.968 143.117 34.776C143.757 34.584 144.413 34.488 145.085 34.488C145.789 34.488 146.461 34.576 147.101 34.752C147.741 34.928 148.301 35.224 148.781 35.64C149.261 36.04 149.637 36.592 149.909 37.296C150.197 37.984 150.341 38.84 150.341 39.864V42.096H151.973C152.613 42.096 152.933 42.576 152.933 43.536C152.933 44.144 152.853 44.544 152.693 44.736C152.549 44.912 152.309 45 151.973 45H150.341V45.456C150.341 46.96 149.957 48.08 149.189 48.816C148.437 49.552 147.253 49.92 145.637 49.92H142.133ZM145.109 37.392C144.469 37.392 143.973 37.616 143.621 38.064C143.285 38.512 143.117 39.12 143.117 39.888C143.117 40.768 143.301 41.36 143.669 41.664C144.053 41.952 144.549 42.096 145.157 42.096H147.005V39.768C147.005 38.184 146.373 37.392 145.109 37.392ZM166.441 45C165.817 45 165.305 44.888 164.905 44.664C164.521 44.424 164.225 44.112 164.017 43.728C163.793 44.224 163.449 44.56 162.985 44.736C162.537 44.912 161.921 45 161.137 45H160.201C159.577 45 159.065 44.888 158.665 44.664C158.265 44.424 157.961 44.112 157.753 43.728C157.529 44.24 157.193 44.584 156.745 44.76C156.297 44.92 155.665 45 154.849 45H151.969C151.649 45 151.409 44.912 151.249 44.736C151.089 44.544 151.009 44.184 151.009 43.656C151.009 43.096 151.089 42.696 151.249 42.456C151.393 42.216 151.633 42.096 151.969 42.096H153.577C154.041 42.096 154.337 41.984 154.465 41.76C154.593 41.52 154.657 41.088 154.657 40.464V36.864C154.657 36.704 154.737 36.624 154.897 36.624H157.825C157.985 36.624 158.065 36.704 158.065 36.864V40.8C158.065 41.312 158.225 41.656 158.545 41.832C158.865 42.008 159.217 42.096 159.601 42.096C159.905 42.096 160.145 42.064 160.321 42C160.513 41.936 160.649 41.84 160.729 41.712C160.809 41.584 160.857 41.416 160.873 41.208C160.905 40.984 160.921 40.712 160.921 40.392V36.864C160.921 36.704 161.001 36.624 161.161 36.624H164.089C164.249 36.624 164.329 36.704 164.329 36.864V40.776C164.329 41.32 164.489 41.68 164.809 41.856C165.145 42.016 165.521 42.096 165.937 42.096C166.241 42.096 166.473 42.064 166.633 42C166.793 41.936 166.913 41.84 166.993 41.712C167.073 41.568 167.121 41.392 167.137 41.184C167.153 40.96 167.161 40.688 167.161 40.368V35.136C167.161 34.976 167.241 34.896 167.401 34.896H170.329C170.489 34.896 170.569 34.976 170.569 35.136V40.8C170.601 41.2 170.769 41.52 171.073 41.76C171.393 41.984 171.833 42.096 172.393 42.096H172.945C173.265 42.096 173.505 42.208 173.665 42.432C173.825 42.656 173.905 43.024 173.905 43.536C173.905 44.512 173.585 45 172.945 45C172.337 45 171.809 44.928 171.361 44.784C170.913 44.64 170.537 44.312 170.233 43.8C170.009 44.264 169.681 44.584 169.249 44.76C168.817 44.92 168.321 45 167.761 45H166.441ZM174.265 32.472C174.105 32.472 174.025 32.392 174.025 32.232V29.88C174.025 29.72 174.105 29.64 174.265 29.64H176.665C176.825 29.64 176.905 29.72 176.905 29.88V32.232C176.905 32.392 176.825 32.472 176.665 32.472H174.265ZM177.961 32.472C177.801 32.472 177.721 32.392 177.721 32.232V29.88C177.721 29.72 177.801 29.64 177.961 29.64H180.385C180.545 29.64 180.625 29.72 180.625 29.88V32.232C180.625 32.392 180.545 32.472 180.385 32.472H177.961ZM175.657 35.136C175.657 34.976 175.737 34.896 175.897 34.896H178.801C178.961 34.896 179.041 34.976 179.041 35.136V40.8C179.073 41.2 179.241 41.52 179.545 41.76C179.865 41.984 180.305 42.096 180.865 42.096H181.417C181.737 42.096 181.977 42.208 182.137 42.432C182.297 42.656 182.377 43.024 182.377 43.536C182.377 44.512 182.057 45 181.417 45C180.809 45 180.281 44.928 179.833 44.784C179.385 44.64 179.009 44.312 178.705 43.8C178.449 44.312 178.065 44.64 177.553 44.784C177.057 44.928 176.369 45 175.489 45H173.017C172.697 45 172.457 44.904 172.297 44.712C172.137 44.504 172.057 44.128 172.057 43.584C172.057 43.04 172.137 42.656 172.297 42.432C172.441 42.208 172.681 42.096 173.017 42.096H174.505C175.017 42.096 175.337 41.952 175.465 41.664C175.593 41.36 175.657 40.848 175.657 40.128V35.136ZM181.406 45C181.086 45 180.846 44.944 180.686 44.832C180.526 44.72 180.446 44.496 180.446 44.16C180.446 43.968 180.47 43.752 180.518 43.512C180.55 43.272 180.606 43.048 180.686 42.84C180.75 42.632 180.846 42.456 180.974 42.312C181.086 42.168 181.23 42.096 181.406 42.096H182.246C182.646 42.096 182.934 42.008 183.11 41.832C183.302 41.64 183.398 41.304 183.398 40.824V28.92C183.398 28.76 183.478 28.68 183.638 28.68H186.566C186.726 28.68 186.806 28.76 186.806 28.92V41.976C186.806 43.016 186.59 43.784 186.158 44.28C185.726 44.76 185.006 45 183.998 45H181.406ZM193.074 44.76C193.074 44.92 192.994 45 192.834 45H189.93C189.77 45 189.69 44.92 189.69 44.76V28.92C189.69 28.76 189.77 28.68 189.93 28.68H192.834C192.994 28.68 193.074 28.76 193.074 28.92V44.76ZM200.972 42.576C200.972 41.776 201.084 40.976 201.308 40.176C201.532 39.36 201.852 38.592 202.268 37.872C202.332 37.776 202.452 37.752 202.628 37.8L205.22 38.64C205.3 38.672 205.34 38.72 205.34 38.784C205.356 38.832 205.348 38.888 205.316 38.952C205.092 39.4 204.884 39.904 204.692 40.464C204.5 41.024 204.404 41.656 204.404 42.36C204.404 42.92 204.508 43.384 204.716 43.752C204.94 44.12 205.22 44.408 205.556 44.616C205.892 44.824 206.268 44.968 206.684 45.048C207.116 45.128 207.54 45.168 207.956 45.168H212.18C213.06 45.168 213.66 45.056 213.98 44.832C214.316 44.608 214.484 44.344 214.484 44.04C214.484 43.8 214.356 43.568 214.1 43.344C213.844 43.104 213.516 42.864 213.116 42.624C212.732 42.368 212.308 42.088 211.844 41.784C211.396 41.48 210.972 41.136 210.572 40.752C210.188 40.368 209.868 39.928 209.612 39.432C209.356 38.936 209.228 38.368 209.228 37.728C209.228 37.056 209.356 36.448 209.612 35.904C209.884 35.36 210.244 34.896 210.692 34.512C211.156 34.128 211.7 33.832 212.324 33.624C212.948 33.416 213.62 33.312 214.34 33.312C215.412 33.312 216.316 33.48 217.052 33.816C217.788 34.136 218.388 34.576 218.852 35.136C218.9 35.2 218.916 35.256 218.9 35.304C218.884 35.336 218.844 35.392 218.78 35.472L217.196 37.152C217.1 37.232 216.988 37.224 216.86 37.128C216.54 36.824 216.196 36.6 215.828 36.456C215.476 36.296 215.076 36.216 214.628 36.216C214.132 36.216 213.692 36.344 213.308 36.6C212.94 36.856 212.756 37.24 212.756 37.752C212.756 38.12 212.884 38.464 213.14 38.784C213.412 39.088 213.748 39.392 214.148 39.696C214.564 39.984 215.004 40.28 215.468 40.584C215.932 40.888 216.364 41.224 216.764 41.592C217.18 41.96 217.516 42.368 217.772 42.816C218.044 43.248 218.18 43.752 218.18 44.328C218.18 45.448 217.772 46.36 216.956 47.064C216.14 47.768 214.868 48.12 213.14 48.12H207.524C205.252 48.12 203.588 47.624 202.532 46.632C201.492 45.656 200.972 44.304 200.972 42.576ZM206.756 52.536C206.596 52.536 206.516 52.456 206.516 52.296V49.944C206.516 49.784 206.596 49.704 206.756 49.704H209.156C209.316 49.704 209.396 49.784 209.396 49.944V52.296C209.396 52.456 209.316 52.536 209.156 52.536H206.756ZM210.452 52.536C210.292 52.536 210.212 52.456 210.212 52.296V49.944C210.212 49.784 210.292 49.704 210.452 49.704H212.876C213.036 49.704 213.116 49.784 213.116 49.944V52.296C213.116 52.456 213.036 52.536 212.876 52.536H210.452ZM224.41 44.76C224.41 44.92 224.33 45 224.17 45H221.266C221.106 45 221.026 44.92 221.026 44.76V28.92C221.026 28.76 221.106 28.68 221.266 28.68H224.17C224.33 28.68 224.41 28.76 224.41 28.92V44.76ZM220.858 26.064C220.762 25.888 220.682 25.696 220.618 25.488C220.554 25.28 220.522 25.048 220.522 24.792C220.522 24.504 220.57 24.216 220.666 23.928C220.778 23.64 220.938 23.384 221.146 23.16C221.354 22.92 221.618 22.736 221.938 22.608C222.274 22.464 222.674 22.392 223.138 22.392C223.65 22.392 224.09 22.488 224.458 22.68C224.842 22.856 225.138 23.08 225.346 23.352C225.394 23.432 225.386 23.504 225.322 23.568L224.602 24.312C224.522 24.408 224.442 24.416 224.362 24.336C224.026 23.968 223.65 23.784 223.234 23.784C222.93 23.784 222.682 23.88 222.49 24.072C222.298 24.264 222.202 24.52 222.202 24.84C222.202 25.128 222.274 25.376 222.418 25.584C222.578 25.792 222.746 25.952 222.922 26.064H225.322C225.418 26.064 225.466 26.12 225.466 26.232V27.312C225.466 27.424 225.418 27.48 225.322 27.48H219.97C219.874 27.48 219.826 27.424 219.826 27.312V26.232C219.826 26.12 219.874 26.064 219.97 26.064H220.858ZM231.244 42.096C231.644 42.096 231.964 42.072 232.204 42.024C232.444 41.96 232.62 41.864 232.732 41.736C232.86 41.608 232.94 41.44 232.972 41.232C233.02 41.024 233.044 40.768 233.044 40.464V39.168C233.044 38.544 232.86 38.096 232.492 37.824C232.14 37.536 231.604 37.392 230.884 37.392H228.124C227.964 37.392 227.884 37.312 227.884 37.152V34.728C227.884 34.568 227.964 34.488 228.124 34.488H231.892C233.38 34.488 234.524 34.816 235.324 35.472C236.14 36.112 236.548 37.224 236.548 38.808V40.8C236.58 41.2 236.748 41.52 237.052 41.76C237.372 41.984 237.812 42.096 238.372 42.096H238.9C239.22 42.096 239.46 42.208 239.62 42.432C239.78 42.656 239.86 43.024 239.86 43.536C239.86 44.512 239.54 45 238.9 45C238.244 45 237.668 44.912 237.172 44.736C236.692 44.56 236.3 44.192 235.996 43.632C235.708 44.144 235.308 44.504 234.796 44.712C234.3 44.904 233.676 45 232.924 45H227.116C226.956 45 226.876 44.92 226.876 44.76V42.336C226.876 42.176 226.956 42.096 227.116 42.096H231.244ZM240.77 49.896C240.61 49.896 240.53 49.816 240.53 49.656V47.304C240.53 47.144 240.61 47.064 240.77 47.064H243.746C243.906 47.064 243.986 47.144 243.986 47.304V49.656C243.986 49.816 243.906 49.896 243.746 49.896H240.77ZM238.898 45C238.578 45 238.338 44.944 238.178 44.832C238.018 44.72 237.938 44.496 237.938 44.16C237.938 43.968 237.962 43.752 238.01 43.512C238.042 43.272 238.098 43.048 238.178 42.84C238.242 42.632 238.338 42.456 238.466 42.312C238.578 42.168 238.722 42.096 238.898 42.096H239.738C240.138 42.096 240.426 42.008 240.602 41.832C240.794 41.64 240.89 41.304 240.89 40.824V35.136C240.89 34.976 240.97 34.896 241.13 34.896H244.058C244.218 34.896 244.298 34.976 244.298 35.136V41.976C244.298 43.016 244.082 43.784 243.65 44.28C243.218 44.76 242.498 45 241.49 45H238.898ZM250.566 44.76C250.566 44.92 250.486 45 250.326 45H247.422C247.262 45 247.182 44.92 247.182 44.76V28.92C247.182 28.76 247.262 28.68 247.422 28.68H250.326C250.486 28.68 250.566 28.76 250.566 28.92V44.76Z"
                fill="#0F1939" />
        </svg>

    </div>
</div>

<style>
    .banner1 {
        height: 500px;
        background: radial-gradient(50.7% 118.08% at 17.05% 33.2%, #B79167 0%, #A47A50 32.55%, #916339 100%);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        position: relative;
        padding: 0px 50px;
        margin-top: 80px;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.8s ease-out;
    }

    .banner1.show {
        opacity: 1;
        transform: translateY(0);
    }

    .banner1-title {
        font-size: 26px;
        font-weight: 700;
        color: white;
    }

    .banner1-desc {
        font-size: 16px;
        color: white;
        margin-top: 30px;
    }

    .banner1 img {
        margin-left: 50px;
    }

    .banner-svg1 {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .banner-svg2 {
        position: absolute;
        bottom: 0px;
        left: 40px;
    }

    .inf-banner-right {
        width: 50%;
    }

    .inf-banner-right-svg {
        margin-top: 60px;
    }

    @media screen and (max-width: 922px) {
        .inf-banner-right {
            width: 60%;
        }

        .banner1 img {
            margin-left: 20px;
            width: 50%;
        }

        .banner-svg2 {
            left: 10px;
        }

        .banner1 {
            height: auto;
        }

        .banner1-title {
            font-size: 20px;
            margin-top: 20px;
        }

        .banner1-desc {
            font-size: 14px;
            margin-top: 10px;
        }

        .inf-banner-right-svg {
            margin-top: 20px;
        }
    }

    @media screen and (max-width: 725px) {
        .banner1 {
            flex-direction: column-reverse;
            padding: 80px 0px 0px 0px;
        }

        .inf-banner-right {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .banner1 img {
            margin-left: 0px;
            width: 70%;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const banners = document.querySelectorAll('.banner1');

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('show');
                    observer.unobserve(entry.target); // لو بدك يظهر مرة وحدة فقط
                }
            });
        }, { threshold: 0.2 }); // يظهر لما 20% من العنصر داخل الشاشة

        banners.forEach(banner => observer.observe(banner));
    });
</script>