<div class="padding-container">
    <div class="s-block__title">
        <div class="right-side">
            <h2>{{component.flash_sales_title}}</h2>
        </div>
    </div>
    <salla-products-list limit="4" source="offers"></salla-products-list>
</div>

<style>
  .padding-container {
    padding: 0px 30px;
    margin-top: 60px;
  }

  @media screen and (max-width:584px) {
    .padding-container {
      padding: 0px;
    }
  }
</style>